$border: rgba(0,0,0,.12);



//* New Colour Defs *//

$blue-1: #EDEEF4;
$blue-2: #A6DEE0;
$blue-3: #30C5CB;
$purple-1: #B81AB7;
$purple-2: #5F2ED8;
$purple-3: #330D69;
$grey: #9A9EB6;

$white: #ffffff;
$black: #000000;

$gutter: 12px;

$extra-width: 1368px;

$desktop-menu-width: 20%;
$desktop-main-width: 80%;
