@import "node_modules/bootstrap/scss/bootstrap";

html, body {
	height: 100%;
}

body {
	background: url('/img/bg.jpeg');
	background-size: cover;
	font-family: 'Roboto Slab', serif;

}

.main {
	text-align: center;
	padding: 0 2rem;
	img {
		width: 70%;
		padding: 1rem;
	}
	h2, h3, h4 {
		color: black;
		// background: black;
	}
	h2 {
		font-size: 4rem;
	}
	h3 {
		font-size: 3rem;		
	}
	h4 {
		font-size: 1.4rem;
	}
	hr {
		border: 2px solid black;
	}
	.div {
		margin: 2rem 0;
		padding: 2rem 1rem;
		background: white;
		ul {
			margin: 0;
			padding: 0;
			li {
				list-style:none;
				font-size: 1.4rem;	
			}
		}
	}
}



iframe {
	width: 100%;
	// margin-left: 10%;
}