<!DOCTYPE html>
<html>
    <!-- v.0.1 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <head>
        <title>Off Grid</title>
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="D2bfOQKVwzaK9DR9ZV_-Cj7cgUztr9UQbJryO5D8k60" />
    </head>
    <body>
<!--         <nav id="primaryNav" class="og--nav">
            <div class="og--menu__logo">
                <a href="/" id="og--menu__logo">
                    Off Grid
                </a>
            </div>
            <button id="og--menu__button" class="og--menu__button navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </button>
        </nav>

        <div id="sidebar" class="sidebar">
            <div class="list-group border-0 text-center text-md-left">
                <a href="#link-1" id="menu__getting-started" class="list-group-item d-inline-block" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">Menu Example</a>
                <div class="collapse" id="link-1">
                   <a href="#sub-link-1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Sub Link 1</a>
                    <div class="collapse page" id="sub-link-1">
                        <a href="#" class="list-group-item page-link">Link 1</a>
                    </div>
                </div>
            </div>
        </div> -->