<% include partials/header %>
<section class="main">
		<!-- <iframe src="https://mixlr.com/users/371215/embed" width="100%" height="180px" scrolling="no" frameborder="no" marginheight="0" marginwidth="0"></iframe> -->
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col-sm-12 col-md-4 div">
					<!-- <h2>Off Grid</h2> -->
					<img src="/img/off-grid-logo.png" alt="Off Grid Logo" />
					<hr />
					<img src="/img/two-tribes-logo.png" alt="Off Grid Logo" />
					<!-- <h3><a href="http://mixlr.com/the-underground-sessions--2">Chat on Mixlr</a></h3> -->
					<ul>
						<li>Tileyard Studios</li>
						<li>Tileyard Rd</li>
						<li>Kings Cross</li>
						<li>N7 9AH</li>
					</ul>
					<hr />
					<h4>Friday | 28/09/18 | 6-12pm</h4>
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col-sm-12 col-md-4 div">
					<div id="mc_embed_signup" class="mailchimp">
						<h3>Stay up to date with all our future events.</h3>
						<form action="https://kaiserbear.us18.list-manage.com/subscribe/post?u=f2250fce2df00b1045220624c&amp;id=22a932ace4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
							<div class="form-group">
								<input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="john.smith@example.com">
								<button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">Submit</button>
							</div>
							<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
								<div style="position: absolute; left: -5000px;" aria-hidden="true">
									<input type="text" name="b_f2250fce2df00b1045220624c_d2a6fe6491" tabindex="-1" value="">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<!-- <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FTheUndergroundSessionsUK%2Fvideos%2F1676977325673582%2F&width=400" width="400" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe> -->
	<!-- <img src="/img/exmouth-market-ugs.jpg" alt="Exmouth House" /> -->


</section>
<% include partials/footer %>